/Rc41/bin/Debug/net6.0-windows/adv.crd
/Rc41/bin/Debug/net6.0-windows/advdata1.crd
/Rc41/bin/Debug/net6.0-windows/all.crd
/Rc41/bin/Debug/net6.0-windows/amort.crd
/Rc41/bin/Debug/net6.0-windows/atod.crd
/Rc41/bin/Debug/net6.0-windows/bj.crd
/Rc41/bin/Debug/net6.0-windows/c-f.crd
/Rc41/bin/Debug/net6.0-windows/ca.crd
/Rc41/bin/Debug/net6.0-windows/cal.crd
/Rc41/bin/Debug/net6.0-windows/cd.crd
/Rc41/bin/Debug/net6.0-windows/clflags.crd
/Rc41/bin/Debug/net6.0-windows/code.crd
/Rc41/bin/Debug/net6.0-windows/creepy.crd
/Rc41/bin/Debug/net6.0-windows/curve.crd
/Rc41/bin/Debug/net6.0-windows/curve2.crd
/Rc41/bin/Debug/net6.0-windows/dc.crd
/Rc41/bin/Debug/net6.0-windows/decode.crd
/Rc41/bin/Debug/net6.0-windows/dsetest.crd
/Rc41/bin/Debug/net6.0-windows/dtoa.crd
/Rc41/bin/Debug/net6.0-windows/ef.crd
/Rc41/bin/Debug/net6.0-windows/en.crd
/Rc41/bin/Debug/net6.0-windows/f-c.crd
/Rc41/bin/Debug/net6.0-windows/fahr.crd
/Rc41/bin/Debug/net6.0-windows/gtoind.crd
/Rc41/bin/Debug/net6.0-windows/hex.crd
/Rc41/bin/Debug/net6.0-windows/horiz.crd
/Rc41/bin/Debug/net6.0-windows/hx.crd
/Rc41/bin/Debug/net6.0-windows/hypot.crd
/Rc41/bin/Debug/net6.0-windows/isgtest.crd
/Rc41/bin/Debug/net6.0-windows/isz67.crd
/Rc41/bin/Debug/net6.0-windows/jul.crd
/Rc41/bin/Debug/net6.0-windows/ka.crd
/Rc41/bin/Debug/net6.0-windows/km-m.crd
/Rc41/bin/Debug/net6.0-windows/lclxeq.crd
/Rc41/bin/Debug/net6.0-windows/line.crd
/Rc41/bin/Debug/net6.0-windows/m-km.crd
/Rc41/bin/Debug/net6.0-windows/p.crd
/Rc41/bin/Debug/net6.0-windows/phrf.crd
/Rc41/bin/Debug/net6.0-windows/prplot.crd
/Rc41/bin/Debug/net6.0-windows/reg.crd
/Rc41/bin/Debug/net6.0-windows/rel.crd
/Rc41/bin/Debug/net6.0-windows/rev.crd
/Rc41/bin/Debug/net6.0-windows/s.crd
/Rc41/bin/Debug/net6.0-windows/stat.crd
/Rc41/bin/Debug/net6.0-windows/status.crd
/Rc41/bin/Debug/net6.0-windows/stones.crd
/Rc41/bin/Debug/net6.0-windows/test.crd
/Rc41/bin/Debug/net6.0-windows/todec.crd
/Rc41/bin/Debug/net6.0-windows/tones.crd
/Rc41/bin/Debug/net6.0-windows/tstdse.crd
/Rc41/bin/Debug/net6.0-windows/tstend.crd
/Rc41/bin/Debug/net6.0-windows/tstrtn.crd
/Rc41/bin/Debug/net6.0-windows/vdiv.crd
/Rc41/bin/Debug/net6.0-windows/vdiv2.crd
/Rc41/bin/Debug/net6.0-windows/vmg.crd
/Rc41/bin/Debug/net6.0-windows/x.crd
/Rc41/bin/Debug/net6.0-windows/xeqind.crd
/Rc41/bin/Debug/net6.0-windows/printer.txt
/Rc41/bin/Debug/net6.0-windows/rc41.ram
/Rc41/bin/Debug/net6.0-windows/tape.dat
/Rc41/bin/Debug/net6.0-windows/tape1.dat
/Rc41/bin/Debug/net6.0-windows/tape2.dat
/Rc41/bin/Debug/net6.0-windows/tape3.dat
/Rc41/bin/Debug/net6.0-windows/.txt
/Rc41/bin/Debug/net6.0-windows/Rc41.deps.json
/Rc41/bin/Debug/net6.0-windows/Rc41.dll
/Rc41/bin/Debug/net6.0-windows/Rc41.exe
/Rc41/bin/Debug/net6.0-windows/Rc41.pdb
/Rc41/bin/Debug/net6.0-windows/Rc41.runtimeconfig.json
/Rc41/obj/Debug/net5.0-windows7.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Rc41/obj/Debug/net5.0-windows7.0/Rc41.AssemblyInfo.cs
/Rc41/obj/Debug/net5.0-windows7.0/Rc41.AssemblyInfoInputs.cache
/Rc41/obj/Debug/net5.0-windows7.0/Rc41.assets.cache
/Rc41/obj/Debug/net5.0-windows7.0/Rc41.GeneratedMSBuildEditorConfig.editorconfig
/Rc41/obj/Debug/net5.0-windows7.0/Rc41.GlobalUsings.g.cs
/Rc41/obj/Debug/net6.0-windows/apphost.exe
/Rc41/obj/Debug/net6.0-windows/Rc41.AssemblyInfo.cs
/Rc41/obj/Debug/net6.0-windows/Rc41.AssemblyInfoInputs.cache
/Rc41/obj/Debug/net6.0-windows/Rc41.assets.cache
/Rc41/obj/Debug/net6.0-windows/Rc41.csproj.CoreCompileInputs.cache
/Rc41/obj/Debug/net6.0-windows/Rc41.csproj.FileListAbsolute.txt
/Rc41/obj/Debug/net6.0-windows/Rc41.csproj.GenerateResource.cache
/Rc41/obj/Debug/net6.0-windows/Rc41.dll
/Rc41/obj/Debug/net6.0-windows/Rc41.Form1.resources
/Rc41/obj/Debug/net6.0-windows/Rc41.GeneratedMSBuildEditorConfig.editorconfig
/Rc41/obj/Debug/net6.0-windows/Rc41.genruntimeconfig.cache
/Rc41/obj/Debug/net6.0-windows/Rc41.pdb
/Rc41/obj/Debug/net6.0-windows/Rc41.Properties.Resources.resources
/Rc41/obj/Debug/net6.0-windows/Rc41.sourcelink.json
/Rc41/obj/Debug/net6.0-windows/Rc41.SynthDialog.resources
/Rc41/obj/Debug/net6.0-windows/ref/Rc41.dll
/Rc41/obj/Debug/net6.0-windows/refint/Rc41.dll
/Rc41/obj/Debug/net6.0-windows7.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Rc41/obj/Debug/net6.0-windows7.0/Rc41.AssemblyInfo.cs
/Rc41/obj/Debug/net6.0-windows7.0/Rc41.AssemblyInfoInputs.cache
/Rc41/obj/Debug/net6.0-windows7.0/Rc41.assets.cache
/Rc41/obj/Debug/net6.0-windows7.0/Rc41.GeneratedMSBuildEditorConfig.editorconfig
/Rc41/obj/Debug/net6.0-windows7.0/Rc41.GlobalUsings.g.cs
/Rc41/obj/project.nuget.cache
